html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing:  unset;
    font-style: normal;
    color: #2f02cb;
}

header, footer {
    max-width: 100%;
    background-color:#fb7c21;
    padding: 25px;
    height: max-content;
}

nav {
    display: inline-block;
    float: right;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 875px;
    max-width: 960px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.logo {
    width: 150px;
    border-radius: 30%;
}

.background {
    max-width: 100%;
    background-color: #fc9a50;
}

main {
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fc9a50;
}

#footer-inscription {
    font-size: 18px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #fb7c21;
}
tr:nth-child(even) {
  background-color: #fce6d6;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
