
html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing:  unset;
    font-style: normal;
    color: #2f02cb;
}

header {
  background-color:#fb7c21;
  font-size: auto;
}

#name{
  color:#2f02cb;
  font-size: 35px;
  font-family:serif;
  text-align:center;
  padding: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#logo {
  padding: 10px ;
  max-width: 120px;
  border-radius: 30%;
}

nav {
  text-align: left;
  font-size: 18px;
}





.background {
    background-color: #fc9a50;
}

main>.useless {
  display: flex;
  flex-direction: column-reverse;
}

main {
    max-width: 960px;
    padding: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
    background-color: #fc9a50;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

form {
  padding: 25px;
  background-color: #fc9a50;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #fb7c21;
}
tr:nth-child(even) {
  background-color: #fce6d6;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}



#table{
  flex: 1;
  order: 1;
  overflow: scroll;
}
#form{
  flex: 1;
  order: 3;
  
}


#footer-inscription {
  font-size: auto;
  background-color:#fb7c21;
}

@media screen and (min-width: 800px) {
 
  main>.useless {
    flex-direction: column;
  }
  

  
}
